@model MultiCashApp.Models.SupplierChanges

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SupplierChanges</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCodeOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCodeOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCodeNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCodeNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierNameOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierNameNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalCodeOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalCodeOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalCodeNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalCodeNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalityOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalityOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalityNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalityNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumberNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumberNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeRegisterOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeRegisterOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradeRegisterNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradeRegisterNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Swift_BIC_old)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Swift_BIC_old)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Swift_BIC_new)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Swift_BIC_new)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoMadeChange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoMadeChange)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SupplierChangesId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
